header {
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	padding: 0;
	color: #bfe08d;
	font-family: 'Caveat', cursive;
}

.indexHead {
	background-image: url("./images/image.png"); 
	height: 250px;
}

.contactHead{
	background-image: url("./images/image.png"); 
	height: 250px;
	border-bottom: 20px solid #418291;
}

.aboutHead {
	background-image: url("./images/borderPups.jpg");
	border-bottom: 20px black solid;
	border-top: 20px black solid;
	background-color: black;
	background-position: center;
	height: 300px;
	padding-top: -50px;
}

.blogHead {
	background-color: #418291;
	height: 150px;


}

.blogHeadText {
	font-family: 'Caveat', cursive;
	color: #bfe08d;
	font-size: 70px;
	margin-left: 25px;
}

.contact {
	color: #70894a;
	font-size: 20px;
}

#credit {
	position: absolute;
	right: 0;
	top: -2px;

}

body h1 {
	padding: 25px 0 0 25px;
	font-family: 'Raleway', sans-serif;
	font-size: 45px;
	color: #64381E;
	font-style: bold;
}

nav {
	background-color: #418291;
	text-align: center;
	margin-left: 0 auto;
}

a {
	padding: 15px;
	color: #bfe08d;
}

h3, h5, h6{
	color: #64381E;
	padding: 30px 0 15px 30px;
	font-family: 'Raleway', sans-serif;
}

body {
	background-color: #fcf8e3;	
	padding:0;
	margin:0;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 100px;
}

.aboutMeText {
	margin: 0 30px 0 30px;
	padding: 15px;
	color: #64381E;	
}

.text {
	margin: 0 30px 0 30px;
	padding: 15px;
	color: #64381E;
}

.plink {
	color: #066695;
	padding: 0;
}

footer {
	background-color: #418291;
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
	height: 60px;
	color: #94B16A;
}

li {
	color: #64381E;
	font-family: 'Raleway', sans-serif;
	margin-left: 40px;
}

.bold{
	font-size: 19px;
}

.footContent{
	margin-top: 20px;
}

.nopadding {
	padding: 0px;
}